
#edit_confirmation_btn{
	width:600px;
	margin-left:170px;
	padding:10px;
	margin-left;150px;
	align:center;
}

.edit_confirmation_table tr{
	width: auto;
	margin: center;
	hite-space: nowrap;
	padding: 0.5em;
}

.edit_confirmation_table td,th{
	border: solid 1px;
	padding: 0.5em;
}